/*
 Russell Carlin
 MIU 1202
 Project 1
*/
html {
    background: #999999;
}
body {
    color: #333333;
}
#logo {
    padding: 5px 3px 0px 3px;
    margin-bottom: -20px;
}
h1 {
    text-align:center;
    font: bold 30px/1em garamond;
    border-bottom: solid 2px #666666;
    margin-bottom: 5px;
}
p {
    padding: 0px 5px;
    text-align: center;
    font: 13px/1em garamond;
}
nav {
    text-align: center;
}
#show, #clear, #addMore, #add {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font: 14px/1em garamond;
    color: #660000;
    background: #777777;
    border: solid 2px #666666;
    border-radius: 10px;
    margin: 0px 3px;
    padding: 3px;
    width: 130px;
}
textarea {
    height: 50px;
    width: 200px;
}
#add {
    margin: 0px;
    width: 260px;
}
#sub {
    display: block;
    text-align: center;
    margin: 5px
}
#del, #edit {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font: 14px/1em garamond;
    color: #660000;
    background: #777777;
    border: solid 2px #666666;
    border-radius: 10px;
    margin: 0px 3px;
    padding: 1px;
    width: 80px;
}