/*
 Russell Carlin
 MIU 1202
 Project 1
*/
html {
    background: lightgray;
}
#ser {
    background: gray;
    padding: 3px;
}
#searchBox {
    width: 220px;
}
#logo {
    background: gray;
    padding: 5px 3px 0px 3px;
    border: solid 2px #666666;
}
#start {
    display: block;
    text-align: center;
    background: #333333;
    font: bold 30px/1em garamond;
    color: #990000;
    margin: 0px 40px 5px 40px;
    border: solid 2px #666666;
    padding: 5px 0px;
    text-decoration: none;
}
#CTA {
    background: gray;
    margin: 5px 0px 5px 0px;
    border: solid 2px #666666;
}
h1 {
    text-align:center;
}
#brow {
    background: gray;
    border: solid 2px #666666;
    margin: 5px 0px 5px 0px;
    padding: 0px 5px;
}